<div  *ngIf="isLoaded" class="container-fluid">
  <form #commentForm="ngForm" (ngSubmit)="onCreate()">

    <div>
        <hr />
        Id du commentaire : {{ comment.id }}
        <hr />
    </div>

    <div class="form-group">
      <label>Commentaire sur l'événement</label>
      <textarea #content="ngModel" [class.is-invalid]="content.invalid && content.touched" required class="form-control" name="content" [(ngModel)]="comment.content" type="text"></textarea>
      <small class="text-danger" [class.d-none]="content.valid || content.untouched" >Un commentaire vide n'est pas autorisé</small>
    </div>
    
    Nombre de like : {{ comment.liky }}
    <br /> 
    Date de création : {{comment.at_created }}
    <br />  
    Date de mise à jour : {{ comment.at_updated }}
  
    <div class="form-group">
      <input type="submit" value="Création">
      <input type="submit" value="Modification">
      <input type="submit" value="Suppression">
    </div>
  </form>
</div>