<div class="container-fluid background-img">
  <!-- <div class="row input-group mt-1 mb-1 col-12 col-sm-6 col-md-4">
    <h1 class="form-control">Paramètres</h1>
    <div class="input-group-append">
      <button class="btn btn-outline-sucess" type="button">
        <a routerLink="/events">Go !</a>
      </button>
    </div>
  </div> -->
  <div class="row no-gutters custom-control custom-checkbox">
    <input type="texte" [(value)]="today" (change)="handleDateChange()" id="userInput" name="eventDate" placeholder="Date : aaaa-mm-jj" class="input-group mb-1 col-5 offset-3 col-sm-4 offset-sm-4 col-md-4 offset-md-4 col-lg-1 offset-lg-6" [ngStyle]="{border: dateFormIsValid ? '3px solid white' : ''}">
  </div>
  <div class="row no-gutters custom-control custom-checkbox">
    <div class="row">
    <button type="button" class="btn btn-outline-secondary mb-1 col-5 col-sm-3 offset-sm-2 col-md-3 offset-md-2 col-lg-2 offset-lg-1" (click)="changeConcertsFlag()" [ngStyle]="{border: concertType ? '4px solid white' : ''}">Concerts</button>
    <button type="button" class="btn btn-outline-secondary mb-1 col-5 offset-1 col-sm-3 offset-sm-2 col-md-3 offset-md-2 col-lg-2 offset-lg-1" (click)="changeExpositionsFlag()" [ngStyle]="{border: expositionType ? '4px solid white' : ''}">Expos</button>
    <button type="button" class="btn btn-outline-secondary mb-1 col-5 col-sm-3 offset-sm-2 col-md-3 offset-md-2 col-lg-2 offset-lg-1" (click)="changeTheatersFlag()" [ngStyle]="{border: theaterType ? '4px solid white' : ''}">Théâtres</button>
    <button type="button" class="btn btn-outline-secondary mb-1 col-5 offset-1 col-sm-3 offset-sm-2 col-md-3 offset-md-2 col-lg-2 offset-lg-1" (click)="changeClubbingsFlag()" [ngStyle]="{border: clubbingType ? '4px solid white' : ''}">Clubbing</button>
    </div>
    <div class="row">
    <button type="button" class="btn btn-outline-secondary mb-1 col-5 col-sm-3 offset-sm-2 col-md-3 offset-md-2 col-lg-2 offset-lg-1" (click)="changeShowsFlag()" [ngStyle]="{border: showType ? '4px solid white' : ''}">Shows</button>
    <button type="button" class="btn btn-outline-secondary mb-1 col-5 offset-1 col-sm-3 offset-sm-2 col-md-3 offset-md-2 col-lg-2 offset-lg-1" (click)="changeCinemasFlag()" [ngStyle]="{border: cinemaType ? '4px solid white' : ''}">Cinémas</button>
    <button type="button" class="btn btn-outline-secondary mb-1 col-5 col-sm-3 offset-sm-2 col-md-3 offset-md-2 col-lg-2 offset-lg-1" (click)="changeConferencesFlag()" [ngStyle]="{border: conferenceType ? '4px solid white' : ''}">Confs</button>
    <button type="button" class="btn btn-outline-secondary mb-1 col-5 offset-1 col-sm-3 offset-sm-2 col-md-3 offset-md-2 col-lg-2 offset-lg-1" (click)="changeOthersFlag()" [ngStyle]="{border: otherType ? '4px solid white' : ''}">Autres</button>
    </div>
  </div>
  <div class="row no-gutters custom-control custom-checkbox"> 
    <button type="button" class="btn btn-outline-secondary mb-1 col-5 col-sm-3 offset-sm-2 col-md-3 offset-md-2 col-lg-3 offset-lg-2" (click)="changeGratuitsFlag()" [ngStyle]="{border: gratuitType ? '4px solid white' : ''}">Gratuit</button>
    <button type="button" class="btn btn-outline-secondary mb-1 col-5 offset-1 col-sm-3 offset-sm-2 col-md-3 offset-md-2 col-lg-3 offset-lg-3" (click)="changePayantsFlag()" [ngStyle]="{border: payantType ? '4px solid white' : ''}">Payant</button>
  </div>
  <div class="row no-gutters custom-control custom-checkbox">
    <button type="button" class="btn btn-outline-secondary mb-1 col-5 offset-3 col-sm-4 offset-sm-4 col-md-4 offset-md-4 col-lg-3 offset-lg-5" (click)="returnSearchResults()">Recherche</button>
  </div>
  <!-- <div class="row no-gutters custom-control custom-checkbox">
     <input type="number" name="distance" placeholder="5" class="input-group mt-1 mb-1 col-4 offset-1 col-sm-3">
    <label forName="distance">Distance autour de moi en km</label>
  </div> -->
  <div class="row no-gutters custom-control custom-checkbox">
  <div *ngIf="isLoading" class="col-lg-2 offset-lg-6 isLoadingIcon">
    <div class="loading"></div>
  </div>
  <div *ngIf="noEvents" class="col-lg-9 offset-lg-2 noEventsMessage">
    <p>Sorry.. aucun événement ne correspond à ta recherche</p>
  </div>
  <div *ngIf="isgood" id="list">
    <div *ngFor="let event of result">
      <div class="row">
        <div class="col-12 col-sm-3 col-md-2">
          {{ event.fields.date_start }}
        </div>
        <div class="col-12 col-sm-5 col-md-7">
          {{ event.fields.title }}
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          {{event.fields.placename}}
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>