<div class="background-img col-12" id="bg">
    <div class="background-img col-12" id="bg-img"> 
        <div class="row">
            <div class="container-fluid" id="title">
                <h2>{{ event.fields.title }}<br/></h2>
                <p>{{ event.fields.description }}</p> 
            </div>
        </div>
    </div>

<div class="container-fluid" id="details">
    <div class="row">
        <div class="right col-12 col-sm-12 col-md-6">
            <!-- <h2> Qu'est-ce que c'est?</h2>
                <p>{{ event.fields.description }}</p> -->
            <h2><i class="fa fa-map-marker"></i> Où ?</h2>
                <p>{{ event.fields.placename }}<br/>
                    {{ event.fields.address }}</p>
                <br/>
            <h2><i class="fa fa-calendar-o"></i> Quand ?</h2>
                <p>{{ event.fields.space_time_info }}
                </p><br/>
            <h2><i class="fa fa-credit-card"></i> Combien ?</h2>
                <p>{{ event.fields.pricing_info }}</p><br/>
            <h2 class="link"><i class="fa fa-info-circle"></i><a href="{{ event.fields.link }}" target="_blank"> Plus d'infos</a></h2>
                <br/>
        </div>
        <div class="map col-sm-12 col-md-6">
            <app-map></app-map>
            <!-- <img id="map-img" src="/src/assets/images/map-paris.jpeg" alt="map"/> -->
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>
</div>