<div class="container">
  <div class="create-form">
    <form>
      <div class="form-group">
        Titre *
        <input type="text" class="form-control" id="Title" placeholder="titre de l'événement">
      </div>
      <div class="form-group">
        Description *
        <textarea class="form-control" id="Description" placeholder="description de l'événement"></textarea>
      </div>

      <div>
        <div class="input-group mb-3 col-6">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" aria-label="Checkbox for following text input">
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="lien (pour plus d'informations, ex.:billeterie)">
        </div>

        <div class="input-group mb-3 col-6">
          <div class="input-group-prepend">
            <label class="input-group-text" for="tagGroup">Catégorie *</label>
          </div>
          <select class="custom-select" id="tagGroup">
            <option selected>Choisis ton type d'événement</option>
            <option value="concert">Concert</option>
            <option value="exposition">Exposition</option>
            <option value="théâtre">Théâtre</option>
            <option value="clubbing">Clubbing</option>
            <option value="show">Show</option>
            <option value="cinéma">Cinéma</option>
            <option value="conférence">Conférence</option>
            <option value="autre">Autre</option>
          </select>
        </div>
      </div>
      <div class="form-group col-6">
        <h2>Quand ?</h2>
        Date et heure de début *
        <input type="datetime-local" name="date_start"><i class="fa fa-calendar-o"></i><br>

        <input type="checkbox" name="date_end" value="date_end"> Spécifier date de fin (si événement continu)<br>
        <input type="date" name="date_end">
      </div>

      <div class="form-group col-6">
        <h2>Où?</h2>
        Lieu *
        <input type="text" class="form-control" id="Placename" placeholder="nom du lieu (ex.: Zèbre de Belleville)">
        Adresse *
        <input type="text" class="form-control" id="Address" placeholder="adresse du lieu">
      </div>

      <div class="col-6">
        <h2>Combien?</h2>
        <input type="checkbox" name="pricing_info" value="pricing_info"> Gratuit<br>
      </div>

      <div class="mb-5">
        <input type="submit" value="Supprimer l'événement">
        <input type="submit" value="Valider mes changements">
        <input type="submit" value="Terminer">
      </div>
    </form>
  </div>
</div>
